.movie-card{
    min-height: 550px;
    background: aqua;
    width: 400px;
    margin: 5px;




}
.ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}